<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Mi Aplicación</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'nueva_persona' %}">Agregar Persona</a></li>
                <li><a href="{% url 'nuevo_producto' %}">Agregar Producto</a></li>
                <li><a href="{% url 'nuevo_pedido' %}">Agregar Pedido</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
